.beige-background{
  background-color: #D2B48C;
}



h1 {
    font-size: 28px; /* Set the font size */
    font-weight: bold; /* Make the text bold */
    color: #A0522D; /* Set the text color */
    margin-bottom: 10px; /* Add some spacing below the heading */
    display: flex;
}

.textbox{
    width: 50%; /* Set the width of the input box */
    padding: 10px; /* Add some padding to the input box */
    border: 1px solid #800000; /* Add a border to the input box */
    border-radius: 5px; /* Round the corners of the input box */
    font-size: 16px; /* Set the font size of the text inside the input box */
    color: #800000; /* Set the text color */
    margin-bottom: 10px;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}


.textbox:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #007bff; /* Change the border color when focused */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a subtle box shadow when focused */
}

/* Style the button with a brown background */
.button {
    background-color: #A52A2A; /* Use your desired brown hex code */
    color: #fff; /* Set text color to white or another contrasting color */
    padding: 10px 20px; /* Add padding to the button */
    border: #007bff; /* Remove the button border */
    border-radius: 5px; /* Round the button corners */
    cursor: pointer; /* Change the cursor to a pointer on hover */
    font-size: 16px; /* Set the font size */
    margin-bottom: 10px;
    margin: 0 auto; /* Center horizontally */

}

/* Style for the button on hover (optional) */
.button:hover {
    background-color: #8B4513; /* Change the background color on hover */
}
